# Python 2 requirements:
git+https://github.com/facebookresearch/fastText.git@master#egg=fastText
git+https://github.com/guyao/mpld3.git@master#egg=mpld3
jupyter
ipython
ipywidgets
ipykernel
numpy
scipy
sklearn
matplotlib
spacy