# Python requirements:
wheel
git+https://github.com/facebookresearch/fastText.git@master#egg=fastText
git+https://github.com/guyao/mpld3.git@master#egg=mpld3
jupyter
ipython
ipywidgets
ipykernel 
tqdm
pandas
numpy
tweepy
scikit-learn
scipy
matplotlib
python-dotenv
geopandas
folium
spacy
wordcloud
sklearn