jupyter
ipywidgets
tqdm
pandas
numpy
tweepy
scikit-learn
scipy
matplotlib
python-dotenv
geopandas
folium

# fastText Python API
git+git://github.com/facebookresearch/fastText.git

# Official repo of mpld3(https://github.com/mpld3/mpld3) does not support `numpy.ndarray`. Use this fixed version instead.
git+git://github.com/guyao/mpld3.git
